<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Salve</title>
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/normalize.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/skeleton.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav>
    <div class="navlink"><a href="/login"><img id="logo" src="/assets/img/logo.png" alt="logo"/></a></div>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a id="changePass" href="/changePass">Change Password</a></div>
  </nav>

  <section id="buttons">

  </section>
  <div id="messages">
    
  </div>
  <section id="content">

  </section>
  
  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets/appBundle.js"></script>
</body>
</html>
